.Layout {
    height: 100vh;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
}

.trigger:hover {
color: #1890ff;
}

.logo {
    height: 32px;
    color: white;
    font-weight: 400;
    margin-left: 8px;
    font-size: 32px;
    margin: 16px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}